<%= simple_form_for blog, html: { class: "blog_form" } do |f| %>
  <% if blog.errors.any? %>
    <div class="error-message">
      <%= blog.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn-secondary" %>
<% end %>